.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 75px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 75px;
  color: white;
}
#journey-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    color: white;
    font-style: bold;
}